<div class="nav justify-content-end nav-tabs">
  <%= link_to "Tipos", kinds_path, class: 'nav-item nav-link text-light'%>
  <%= link_to "Contatos", contacts_path, class: 'nav-item nav-link text-light'%>
</div>