<div class='nested-fields'>
  
  <div class='field row ml-1'>
    <div class='field m-1 col-md-3'>
      <%= form.text_field :phone, class: "form-control" %>
    </div>
    
    <div class='field m-1 col-md-3'>
      <%= link_to_remove_association('Remover',form, class: 'text-light')%>
    </div>
  </div>
  </div>

</div>