<div class='nested-fields'>
  
    <div class='field row ml-1'>
      <div class='field m-1 col-md-3'>
        <%= form.text_field :phone, class: "form-control", disabled: true %>
      </div>
      
    </div>
</div>