<div class='nested-fields'>
  
  <div class='field row ml-1'>
    <div class='field m-1 col-md-3'>
      <%= form.text_field :phone, class: "form-control" %>
    </div>
    
    <div class='field col-md-3 align-self-center'>
      <%= link_to_remove_association(icon('fa text-white', 'times','Remover', id: 'View'),form, class: 'text-light')%>
    </div>
  </div>
  </div>

</div>