/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-table/bootstrap-table
 */

@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";


.pagination > li > a
{
    background-color: white;
    color: #343a40;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #dee2e6;
}

.pagination > .active > a
{
    color: white;
    background-color: #5a5a5a !Important;
    border: solid 1px #5a5a5a !Important;
}

.pagination > .active > a:hover
{
    background-color: #343a40 !Important;
    border: solid 1px #343a40;
}


.dropdown-toggle{
  background-color: #454d55;
  color: white;
}

.dropdown-menu{
  background-color: #454d55;
  color: white;
}

.size-none{
  resize: none
}

.icon-center{
  text-align: center;
}

.dropdown-menu input[type="checkbox"] {
  display: none;
}

.dropdown-item{
  color: white;
}